<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Use customer render and display mode to review a quiz results, Angular Survey Library Example</title><meta name="viewport" content="width=device-width"/>
        <script src="https://npmcdn.com/zone.js"></script>
        <script src="https://npmcdn.com/core-js@2.6.5/client/shim.min.js"></script>
        <script src="https://npmcdn.com/rxjs@5.0.0-beta.6/bundles/Rx.umd.js"></script>
        <script src="https://npmcdn.com/@angular/core@2.0.0-rc.5/bundles/core.umd.js"></script>
        <script src="https://npmcdn.com/@angular/common@2.0.0-rc.5/bundles/common.umd.js"></script>
        <script src="https://npmcdn.com/@angular/compiler@2.0.0-rc.5/bundles/compiler.umd.js"></script>
        <script src="https://npmcdn.com/@angular/platform-browser@2.0.0-rc.5/bundles/platform-browser.umd.js"></script>
        <script src="https://npmcdn.com/@angular/platform-browser-dynamic@2.0.0-rc.5/bundles/platform-browser-dynamic.umd.js"></script>
        <script src="https://unpkg.com/survey-angular@1.8.36/survey.angular.min.js"></script>
        <link href="https://unpkg.com/survey-knockout@1.8.36/survey.min.css" type="text/css" rel="stylesheet"/>

    <body>

        <div id="surveyResult"></div>
        <script type="text/javascript" src="./index.js"></script>
    </body>
    
</html>